.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: auto;
  max-width: 1170px;
}
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

*,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(../img/photo-1444212477490-ca407925329e.jpg) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
  color: white;
  padding: 7rem 3rem;
  margin-bottom: 10rem;
  margin-top: 20rem;
}
.hero-banner p {
  max-width: 36rem;
  font-size: 19px;
  margin-top: 0.75rem;
  margin-bottom: 0.85rem;
  text-transform: none;
  letter-spacing: 2 px;
}
.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  padding: 0.75rem 1.6rem;
  color: darkgray;
  letter-spacing: 5px;
  transition: all 0.6s linear;
  border: 2px solid transparent;
}
.btn:hover {
  color: white;
  background: black;
  transition: all 0.6s linear;
}
.content-divider {
  min-height: 0.3rem;
  background: linear-gradient(
    to left,
    rgba(60, 179, 113),
    gray,
    rgba(60, 179, 113)
  );
}
.contact {
  background: radial-gradient(rgba(0, 0, 0, 0.1), gray);
}
.contact-info,
.contact-form {
  margin: auto;
}
.contact-item {
  margin-bottom: 0.75rem;
  text-align: center;
}
.contact-title {
  color: black;
  font-weight: 400;
}
.contact-text {
  text-transform: uppercase;
  color: black;
}
.contact-form {
  background: pink;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.5s linear;
  max-width: 35rem;
  margin-top: 1.6rem;
}
.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 10);
}
.contact-form h3 {
  padding: 2rem;
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  margin-top: 0;
  background: white;
  text-transform: uppercase;
  border-radius: 0.5rem;
  letter-spacing: 0.05rem;
}
.form-control::placeholder {
  color: black;
  letter-spacing: 0.08rem;
}
.form-btn {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  display: inline-block;  
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.form-btn:hover{
background: pink;
transition: all .3s linear;
}
@media screen and (min-width: 992px) {
  .contact-form,
  .contact-info {
    float: left;
    width: 50%;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  }
  .contact-item{
    margin-bottom: 3rem;
  }
}